<!DOCTYPE html>
<html>
<head>
  <title>Sharewithme</title>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Black+Ops+One', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'SHARE WITH ME', root_path, class:"navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'All Sharings', root_path %></li>
        <li><%= link_to 'New Sharing', new_item_path %></li>
        <% if admin_signed_in? %>
        <li><%= link_to 'Log Out',destroy_admin_session_path,method: :delete,class:'btn btn-default' %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class='container'>
    <div class='col-md-4' id='helloword'>
      <%= image_tag("share.jpg",class:'img-circle') %>
      <p>Everytime I found something interesting or amazing,I would like to share them with others.</p>
      <p>Here I would like to recieve anything you guys recommend to share with me!</p>
      <p>Enjoy the wonderful world!</p>
      <% if !admin_signed_in? %>
      <%= link_to 'Admin Login',new_admin_session_path,class:'btn btn-info' %>
      <% end %>
    </div>
    <div class='col-md-8 mainwrapper'>
          <%= yield %>
    </div>

  </div>


</body>
</html>
